@model IEnumerable<Bike.Models.MainAddress>

@{
    ViewData["Title"] = "Index";
}

<h1>Ключевые адреса</h1>

<p>
    <a asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.FullAddress)
            <td>
                @Html.DisplayFor(modelItem => item.Height.Terrain_height)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MainAddressId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.MainAddressId">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.MainAddressId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
