@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<Bike.Models.BikeType>

@{
    ViewData["Title"] = "Index";
}

<h1>Типы велосипедов</h1>

<p>
    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "RequireGuestRole")).Succeeded)
    {
        <a asp-action="Create">Добавить запись</a>
    }    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complexity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complexity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                    <a asp-action="Index" asp-controller="BikeRoutes" asp-route-id="@item.BikeTypeId">Маршруты</a>
                    <a asp-action="Details" asp-route-id="@item.BikeTypeId">Детали</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireAdministratorRole")).Succeeded || (await AuthorizationService.AuthorizeAsync(User, "RequireGuestRole")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.BikeTypeId">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@item.BikeTypeId">Удалить</a>
                    }  
            </td>
        </tr>
}
    </tbody>
</table>
