@model Bike.Models.Route

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4>Маршруты</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1.FullAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2.FullAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeResult)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RouteId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.BikeTypeId">Назад</a>
    </form>
</div>
