@model Bike.Models.Route

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Маршруты</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1.FullAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2.FullAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BikeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BikeType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeResult)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RouteId">Редактировать</a> |
    <a asp-action="Index" asp-route-id="@Model.BikeType.BikeTypeId">Назад</a>
</div>
